[2013-11-22 17:06] seocam opened #2 "Diazo conditional rules are not working (only when used with django-revproxy)"

[2014-06-09 20:12] chaws opened #3 "built-in POST request calling mistaken QueryDict method"
I'm in the project that evolves the use of Colab. We're working on integrating Redmine on Colab, however I stumbled on a bug. Step-by-step as follows:
1. Send a POST request to colab, that contains an array like "...arr[]=a&arr[]=b..."
2. Colab will receive the request
3. Colab will redirect the request to Redmine machine, through django/revproxy plugin.
4. Redmine receives the array, but only the

[2014-10-29 20:21] #3 closed, assigned to nobody

[2014-11-01 01:59] seocam opened #10 "urllib2 is not thread safe"
See: http://stackoverflow.com/questions/5825151/are-urllib2-and-httplib-thread-safe

[2014-11-25 13:38] seocam opened #13 "Add REMOTE_USER_DATA header"
Add a custom header and allow developers do customize the data that will be sent on it.

[2014-12-01 13:03] seocam opened #15 "Respect X-Diazo-Off header"
https://github.com/plone/diazo/blob/master/lib/diazo/wsgi.py#L20

[2014-12-09 01:09] seocam opened #16 "The use of self.unicode_content doubles memory usage"

[2014-12-09 01:22] seocam opened #17 "Iterate over HTTP response instead of load it all in memory"

[2015-01-08 13:46] seocam opened #21 "Better logging system"
Add more logging messages, our response and upstream response.

[2015-01-08 14:56] #10 closed

[2015-01-08 15:12] #15 closed

[2015-01-08 15:28] #16 closed

[2015-01-28 11:08] seocam opened #25 "Write documentation (sphinx)"

[2015-01-28 11:10] seocam opened #26 "Allow transformations on compressed response"
If a response comes compressed we should be able to decompress it, transform and compress it again

[2015-02-05 13:56] #17 closed

[2015-02-05 14:27] seocam commented on #26
Even though I'm the one who opened this issue in first place I'm not totally convinced that we should allow transformations on compressed responses.

Actually it could be a bit silly. Imagine the scenario where we have three HTTP servers:

A - Proxied Web App
B - django-revproxy instance
C - Nginx, Varnish or any other reverse proxy app

Let's also add a fourth actor D which would be the browser p

[2015-02-05 16:20] terceiro commented on #26
In the end performance will depend on several aspects:

- whether A, B and C are together in a fast local network, and how much bandwitdh it has
- on the actual processing power of A, B and C
- on the number of nodes playing A, B, and C
- on the expeced number of clients (D)

I think you might want to add that as a configuration option, but the only way to know if it's worth letting A compress res

[2015-02-06 02:00] seocam commented on #26
That makes sense. Your opinion is also converging with the suggestion that @rodolphoeck gave me yesterday on IRC.

[2015-02-28 03:12] koalalorenzo commented on #25
I am waiting for this too! :+1:

[2015-03-03 12:13] seocam opened #33 "Allow to configure if should pass request headers and body"
Similar to nginx proxy_pass_request_headers and proxy_pass_request_body:

http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_pass_request_headers

[2015-03-03 12:15] seocam opened #34 "Implement caching using Django cache API"

[2015-03-04 14:05] seocam opened #37 "Remove six from deps"
Django includes six so it's better if we just use django's.

[2015-03-04 20:43] seocam commented on #25
Done in #32.

[2015-03-04 20:43] #25 closed

[2015-03-04 20:43] seocam commented on #21
Done in #30.

[2015-03-04 20:43] #21 closed

[2015-03-04 20:49] seocam commented on #37
Done in fb6e5955b01d24ac37a22884c89463daf4f1db33.

[2015-03-04 20:49] #37 closed

[2015-05-01 11:23] seocam opened #38 "Accept multiple upstreams and balance load"

[2015-05-03 08:23] Timokasse opened #39 "Need to handle base URL"
Hello,

Let's say you want to have `http://myproxy/toto.html` redirect  to `http://proxied/toto.html`. Then a simple `url(r'^(?P<path>.*)$', ProxyView.as_view(upstream='http://proxied/'))` will do the trick. And the static files in the page will also work properly. It will, for example refer to `http://myproxy/css/default.css` properly.

Now you may want to have a base URL because this proxy will

[2015-05-18 14:58] seocam commented on #39
@Timokasse we, as all reverse proxies I know don't actually change the the path of other secondary requests. In fact each request is a new request. So, if you request in your browser the page ``http://myproxy/app1/toto.html`` your page can refer the css in many different ways. Usually ways are:

* ``css/default.css``: in this case your page would probably serve the css correctly because the path i

[2015-05-18 18:45] seocam opened #42 "Add tests for django1.8"

[2015-05-18 20:19] #42 closed

[2015-06-06 12:01] #39 closed

[2015-06-06 12:02] seocam commented on #39
@Timokasse if you have any doubts please or disagree with my answer please reopen.

Cheers

[2015-09-07 01:18] seocam opened #50 "Use wsgiref to check hop-by-hop headers"
https://docs.python.org/2/library/wsgiref.html

[2015-09-07 19:43] #50 closed

[2015-09-28 17:28] seocam opened #55 "Capture broken responses and return django's error page instead"
Use standard error message and log errors using `logging.error`.

[2015-11-19 18:49] anthonysutardja opened #57 "Redirects not handled correctly"
301 Redirects by the upstream server causes the proxied url to redirect to the upstream path, rather than the proxied path + upstream path.

[2015-11-19 19:06] anthonysutardja commented on #57
My upstream server automatically requires most URLS to end with a trailing slash `/api/jellos/` (as opposed to `/api/jellos` and issues a 301

My temporary fix is to use the built in regex rewrites that are built-in with this package:

[code]

[2015-11-19 21:20] seocam commented on #57
Thanks for the report @anthonysutardja! I'm a bit busy lately so if you could write a test to reproduce your problem it would be very helpful. Let me know if you need some guidance. Thanks again!

[2015-12-03 07:05] nileshbits commented on #34
Hi @seocam, I am looking for an iframe proxy solution for django, and your project seems to be the way to go! However, I will need caching for my purposes. I was wondering whether you have started work on this... or I am planning to do it as a contrib :) Just adhering to DRY... no point in me reinventing the wheel if you've already started.

[2015-12-03 10:34] seocam commented on #34
Hello @nileshbits so far we haven't started working on this. Feel free to get started ;)
How are you planing to implement it and how would the user enable and configure it for each ProxyView?

[2015-12-03 12:42] seocam opened #58 "Add support to Django 1.9"

[2015-12-03 20:19] seocam commented on #57
Hello @anthonysutardja I want to address that before 0.9.8. I little help would be really appreciated! Cheers!

[2015-12-04 21:11] nileshbits commented on #34
Hey @seocam,

Cool :) I'll work out the details and keep you in the loop, but at present I'm still trying to get this to work... can I only proxy at the base url "^$", or can I proxy at a url prefix... "^/url_prefix/(?P<path>.*)$" on my website? If not, that would have to be my starting point, wrangling with some middleware to get that done...

[2016-01-07 10:34] martyzz1 opened #60 "Absolute prefix - how?"
Hi,
I've been trying to find a simple solution to use revproxy to proxy our blog (http://blog.example.com) onto a subdirectory of our django app. I need to do 2 things to make it work.

1) set a meta header for canonical content e.g. <link rel="canonical" href="https://www.example.com/blog/dresses/green-dresses-are-awesome" />
2) prepend all relative links/paths with '/blog/'
3) revproxy all reque

[2016-03-25 19:57] thisisstephenbetts opened #63 "Pinned URL version"
Hi there,

thanks very much for django-revproxy — it's really useful!

We've just run into an issue, though — we noticed that in this commit https://github.com/TracyWebTech/django-revproxy/commit/0904ed42c02cf0520c177955522644127ae52ecf you pinned the version of urllib3. We've now gone past that version, which is obviously causes conflicts.

Would it be possible to unpin urllib3?

Thanks very much

[2016-03-29 20:20] seocam commented on #58
It's already supported.

[2016-03-29 20:20] #58 closed

[2016-03-29 20:21] seocam commented on #57
Closed for lack of info.

[2016-03-29 20:28] #63 closed

[2016-03-29 20:43] thisisstephenbetts commented on #63
Thanks very much, Sergio. That's great.

We're using it in our dev environments — essentially to allow a dev version of our main site call out to  microservices, while keeping our authentication working correctly (as they, thanks to revproxy, can all use the same hostname/port).

[2016-06-06 19:58] kevthehermit opened #66 "dispatch() takes exactly 3 arguments (2 given)"
Currently all the docs use
[code]

Tested working ok with this style of urlpatterns BUT as of Django 1.10 (currently 1.9.7) this will be removed.

[code]

Trying the new stlye of url from django docs

[code]

Gives the following error

[code]

[2016-07-18 22:37] dfeinzeig commented on #66
Also busted in 1.8.

[2016-10-12 20:36] coltaan opened #67 "Proxy behind proxy"
Hi there,

Does it use the environment http_proxy and https_proxy variables? I mean should it use?
I've tried to use in a closed (AWS) environment (no outgoing connections without a squid proxy) and looks like doesn't work.

[2016-10-13 02:24] coltaan commented on #67
It was a project bug. Sorry. That works.

[2016-10-13 02:24] #67 closed

[2017-01-27 22:38] Ashald commented on #67
@coltaan we're seeing the same issue... can you please share your experience - maybe we have similar issue? :)

[2017-02-01 09:25] albertored opened #70 "Modify GET query parameters"
I needed a way of modify the GET query parameters before forwarding the request to upstream and I created a subclass of `ProxyView` that accepts a `query_rewrite` field for doing this.

If you think this can be useful I can arrange the code for a pull request.

[2017-03-08 13:20] dimrozakis commented on #66
@kevthehermit I think the error `dispatch() takes exactly 3 arguments (2 given)` is raised because there is no `path` matched in the url regex, and therefore `path` isn't sent to the view, which expects it as a required argument (to know to which path it should proxy to). You should have a part like this in the url regex: `(?P<path>.*)`

[2017-06-13 07:51] acordiner opened #75 "Upgrade urllib3 dependency"
Could the urllib3 dependency be upgraded? This package depends on urllib3 <= version 1.16. However, 1.16 is now 12 months old and the latest version is 1.21.1. Depending on an older version of urllib3 makes it difficult to use django-revproxy in a project that uses other packages that depend on urllib3; for example, the latest version of python-requests depends on urllib3 version 1.21: https://git

[2017-06-13 15:05] seocam commented on #75
Can you try to update the version and run the tests to make sure it still working?

[2017-06-27 11:15] seocam commented on #75
Looks like it's not working properly with newer versions because of their implementation of HTTPHeaderDict (https://github.com/shazow/urllib3/blob/118a936e1a44598aa2b2eed0e361310e05e47c6c/urllib3/_collections.py#L101). Last time this happened I had to work on there to fix what we needed. That might be the case again.

[2017-07-06 03:58] brianmay commented on #75
There are problems with urllib3 and the custom pool manager not taking a ``request_context`` parameter:

[code]

For a similar bug report in requests, see https://github.com/requests/requests/issues/4010

[2017-07-06 04:01] brianmay commented on #75
Also, note that upgrading requests will result in urllib3 being upgraded too. Even if it does break this dependency.

[2017-08-03 01:52] dimrozakis opened #78 "Release new version"
Could you please release a new version to pypi?

[2017-08-31 08:35] albertored commented on #75
I tried the fix from @aausch and it seems to work (I'm using urllib3 1.22).
It has not been accepted yet because is still in testing?

[2017-09-05 21:18] regit commented on #75
Any news on this ? there is more and more problem with keeping an old urllib3

[2017-10-26 10:18] tokland opened #79 "X-Forwarded-For/Forwarded header"
Does it make sense to send (either by default or enabled with an option) a forward header?

https://en.wikipedia.org/wiki/X-Forwarded-For

[2017-11-16 18:00] petrklus opened #80 "Rewrite subdomain to subdirectory"
Hello!

I've got origin that is as follows:

origin.tld/first
origin.tld/second

My goal is to find a reverse proxy that would translate following:

first.tld into origin.tld/first
and second.tld/page into origin.tld/second/page

Is this possible at the moment with this package?

[2017-11-16 21:08] grigory51 opened #81 "0.9.14 to pypi"
Submit please new version to pypi
And requests raise warning, because urllib3<1.17 in setup.py

[2018-01-11 16:31] seocam commented on #81
Done! Sorry taking that long.

[2018-01-11 16:31] #81 closed

[2018-01-11 16:31] seocam commented on #78
Done! Sorry taking that long.

[2018-01-11 16:31] #78 closed

[2018-01-11 21:53] dimrozakis commented on #78
Nice, thanks!

[2018-03-07 20:13] eiva commented on #75
It's become a problem...

[2018-03-27 01:59] makelove opened #83 "deploy on pythonanywhere.com,not working"
because pythonanywhere limit free accout visit Internet with a white list,need to set up proxy-server(proxy.server:3128) in django

and my site report Error:
HTTPConnectionPool(host='www.google.com', port=80): Max retries exceeded with url: / (Caused by NewConnectionError('<revproxy.connection.RevProxyHTTPConnection object at 0x7f909e457208>: Failed to establish a new connection: [Errno 101] Netwo

[2018-04-02 07:18] andy-radkevich commented on #75
Hi for all!
Author, when will be fixed this issue:
django-revproxy 0.9.14 has requirement urllib3<1.17,>=1.12, but you'll have urllib3 1.22 which is incompatible.

[2018-04-03 13:26] ghanshyam1898 opened #84 "Cookies become invalid if they have an equals symbol in their value."
utils.py converts cookie strings to dict. It splits cookie key and value using split funciton. In this line.

cookie_dict['key'], cookie_dict['value']=cookie_parts[0].split('=')

but note that if the cookie value or key contains an equal sign, it will get splitted into more than two parts thereby invalidating the cookie.

[2018-04-09 20:28] mccalluc opened #86 ""'WSGIRequest' object has no attribute 'user'" if add_remote_user without AuthenticationMiddleware"
We are developing a small module that will be will in turn be used in a full django application. We had been using `revproxy` successfully, but realized that user information was not coming through. Adding `add_remote_user` would fix that, but with that addition our tests errored with:

The problem is that the module tests did not use AuthenticationMiddleware, so `user` was not added to `request`

[2018-05-08 09:04] Blisk commented on #75
I still have the same problem on centos 7
django-revproxy 0.9.14 has requirement urllib3<1.17,>=1.12, but you'll have urllib3 1.21.1 which is incompatible.

[2018-05-23 01:26] brianmay commented on #75
Version 0.9.14 included the following change:

[code]

Unfortunately, it did not update the bad requirements in `setup.py`.

Is this change still required?

Is django-revproxy now compatible with urllib 1.22? If so, How can we fix the requirement in setup.py?

If django-revproxy is still incompatible with urllib 1.22, how do we get this change merged?

Is this project dead?

[2018-05-23 07:27] Herst commented on #75
Ping @seocam, @rougeth, and @matheus-morfi.

[2018-05-23 11:43] seocam commented on #75
Hello @Herst and @brianmay!

Honestly I'm not having much time to maintain it. If you or anyone here is interested in help let me know and I'll add you as maintainers as well.

[2018-05-23 21:52] brianmay commented on #75
Sergio Oliveira <notifications@github.com> writes:

I know the feeling...

If you give me push access to git and pypi, I should be able to have a
look at doing a new release.

My username:

github - brianmay
pypi - penguin_brian
--
Brian May <brian@linuxpenguins.xyz>
https://linuxpenguins.xyz/brian/

[2018-05-24 01:48] brianmay commented on #75
This version fixes all known issues, and all tests pass: https://github.com/TracyWebTech/django-revproxy/compare/master...brianmay:master

If/when I get push access to git, I also plan on merging #76.

[2018-05-24 08:21] ougeee opened #87 "StreamingHTTPResponse and hardcoded threshold"
Hi, I was wondering if you had a special reason to [hardcode a very low threshold for returning a `StreamingHTTPResponse` instead of `HTTPResponse`](https://github.com/TracyWebTech/django-revproxy/blob/6de6dc6241c4f6a48f9746588599f02c2c00878e/revproxy/utils.py#L40).

To my understanding, the Django docs generally discourage the use of `StreamingHTTPResponse`:
https://docs.djangoproject.com/en/2.0/

[2018-05-24 11:51] seocam commented on #87
The reason is that this might proxy very big files and in those cases we had a major memory issue due to that.

[2018-05-24 11:55] seocam commented on #87
Anyway I support the idea of allowing the user to choose what's the best `MIN_STREAMING_LENGTH` and maybe `None` meaning streaming shouldn't be used.

[2018-05-24 12:02] seocam commented on #75
@brianmay for the the sake of clarity would you mind doing a PR for each known issue instead of merging your master here?
Also please remember to update the Changelog! ;)

Your access is granted.

[2018-05-24 14:20] ougeee commented on #87
Alright then, I've already prepared a proposal. PR is coming soon after the
polishing is done.

On 24 May 2018 at 13:55, Sergio Oliveira <notifications@github.com> wrote:

--

*Oliver Gondring*

Full-Stack Developer

*PaxLife Innovations GmbH*
*p: *+49 331 2434 240  *m:* +49 160 991 999 72

*a: *Große Weinmeisterstraße 2, 14469 Potsdam, Germany
<https://maps.google.com/?q=Gro%C3%9Fe+Weinmeisterstr

[2018-05-24 21:39] brianmay commented on #75
Sergio Oliveira <notifications@github.com> writes:

Can do so.

How long did you want me to leave proposed changes as PRs before I merge
them?
--
Brian May <brian@linuxpenguins.xyz>
https://linuxpenguins.xyz/brian/

[2018-05-28 01:26] #84 closed

[2018-08-22 04:02] #86 closed

[2018-09-30 13:23] mbande opened #93 "Remove Empty Request Headers"
it seems that django's ```request.META```, adds many http headers with empty values if they does not exist in client request. e.g. client send a request without ```Content-Type``` header, but request.META contains a ```CONTENT_TYPE``` key with empty string value.
i think revproxy should not send this headers to upstreams, as it does not make sense to send ```Content-Type: ''``` to a web server

[2018-10-01 09:10] brianmay commented on #93
Pull requests welcome :-)

[2019-01-29 20:59] s2tu opened #97 "Connection pool is full, discarding connection:"
I am trying to create a reverse proxy to a internal website.  It works for the most part however one endpoint I get the following warning:

WARNING  [2019-01-29 15:46:27,893] [none] urllib3.connectionpool: Connection pool is full, discarding connection: 127.0.0.1

I assume somewhere in the code I can increase the pool size limit but do I need to make this change?

[2019-01-30 19:37] seocam commented on #97
Getting a full pool shouldn't be a problem. We use the pool to minimize the overhead of creating too many connections. The pool manager has 10 slots and the LRU connection is dropped as soon as a new connection is created. You should have 1 connection per upstream. How many upstreams you currently have?

We currently don't have a variable to change that value.
That's where the PoolManager is insta

[2019-02-01 19:54] s2tu commented on #97
Yeah I managed to resolve this issue without modifying the revproxy by following the below link:

https://stackoverflow.com/questions/18466079/can-i-change-the-connection-pool-size-for-pythons-requests-module

Thanks for the reply!

[2019-02-07 06:25] brianmay commented on #97
Just curious: how many slots do you need? What issues is this causing - not counting the warning message - which I believe is just warning?

[2019-02-14 10:25] ibrahim45 opened #98 "Read Docs page failed to load css"
![rev-proxy-docs](https://user-images.githubusercontent.com/7839955/52780773-0122b400-3071-11e9-94a7-98071e333594.png)

[2019-02-18 06:42] brianmay commented on #98
Looks like readthedocs needs to build with Python 3.

Unfortunately I don't appear to have admin rights to this project on
readthedocs, so I cannot make this change....
--
Brian May <brian@linuxpenguins.xyz>
https://linuxpenguins.xyz/brian/

[2019-02-20 18:20] seocam commented on #98
@brianmay what's your user on readthedocs?

[2019-02-20 20:42] brianmay commented on #98
penguin_brian

[2019-02-20 21:21] seocam commented on #98
Permission granted ;)

[2019-02-20 21:46] brianmay commented on #98
OK, I have fixed the build error.

CSS still fails to load however. Looks like the SSL certificate is expired for https://cdnmedia.readthedocs.org/

[2019-02-20 21:51] brianmay commented on #98
Oh, I see. We shouldn't be referencing that site anymore. Problem is fixed here:

https://django-revproxy.readthedocs.io/en/latest/

But default link is for 0.9.3 version, which is old and broken. Should be able to fix,

[2019-02-20 21:59] brianmay commented on #98
Should be fixed now.

[2019-02-20 21:59] #98 closed

[2019-05-30 13:04] naughtyGitCat opened #100 "dispatch() missing 1 required positional argument: 'path'"
urlpatterns = [
    url('api/test', ProxyView.as_view(upstream='http://localhost:8080/'))
]

[2019-05-30 13:05] naughtyGitCat commented on #100
django 2.2
python3.6.8

[2019-05-30 13:05] naughtyGitCat commented on #100
Request Method: | GET
-- | --
http://127.0.0.1:8000/api/test
2.1.7
TypeError
dispatch() missing 1 required positional argument: 'path'
/Users/psyduck/miniconda3/envs/django/lib/python3.6/site-packages/django/views/generic/base.py in view, line 68
/Users/psyduck/miniconda3/envs/django/bin/python

[2019-05-30 13:08] naughtyGitCat commented on #100
and django 2.1 does not have patterns func

[2019-05-30 13:26] naughtyGitCat commented on #100
@seocam

[2019-08-22 10:11] goodosoft opened #101 "HTTP 403 Forbidden when post ajax request"
"POST /BOE/portal/1905100745/InfoViewAppActions/ajaxUre/ajaxRequest HTTP/1.1" 403 1278

[2019-08-25 22:06] brianmay commented on #101
There is not a lot to go on here, unfortunately. I would suspect however that you need to tell revproxy how to authenticate to your remote server.

[2019-08-28 08:47] goodosoft commented on #101
try to change http request header with 'get_request_headers',but it not work.

[2019-12-04 01:05] brianmay commented on #100
I don't think this is a bug. Closing.

[2019-12-04 01:05] #100 closed

[2019-12-04 01:26] brianmay commented on #101
Probably not a revproxy bug. Closing.

[2019-12-04 01:26] #101 closed

[2019-12-08 22:15] frank-io opened #105 "What is the lastest Django version does this lib support?"
Hi there,

Does anyone have the idea of what the latest Django version does this library support? Many thanks!

Cheers

[2019-12-10 14:49] Siecje opened #106 "Incorrect Changelog"
0.9.15 does not support Django 3 and it wasn't released on 2019-12-03.

https://pypi.org/project/django-revproxy/#history

https://github.com/TracyWebTech/django-revproxy/commit/da78089318c0dbdd289ee30853ed038134963a11

[2019-12-10 20:45] brianmay commented on #105
Works fine with 1.11 :-)

I tried to bump this up in #104, but this failed. Help appreciated...

Unfortunately the time I have to spend on projects such as this is negative. I imagine making this work with Django 2.2 or even 3.0 would be trivial however.

[2019-12-10 21:29] #106 closed

[2019-12-10 21:32] Siecje commented on #105
master works with Django 3.0 but the latest release does not. The latest release version (0.9.15) works with Django 2.2.x.

[2019-12-17 22:37] vlinhart opened #107 "Release new version"
Please release new version with the django 3 support.

I see the necessary fix is in the master already.

thank you very much!

[2019-12-18 21:21] brianmay commented on #107
Please help me fix the tests so that they will actually pass under Django 2.2 and Django 3.

At the moment they don't pass, so I really can't claim this project supports Django 3.

https://github.com/TracyWebTech/django-revproxy/pull/104

[2020-02-04 09:02] vlinhart commented on #107
should be ok now, please release :-)

[2020-02-04 19:56] brianmay commented on #107
Version 0.10.0 now released.

[2020-02-04 19:56] #107 closed

[2020-02-04 19:57] brianmay commented on #105
This should work fine with Django 2.2 and 3.0. Please open a bug report if you encounter any problems.

[2020-02-04 19:57] #105 closed

[2020-02-12 21:18] Simonefardella opened #109 "It's possible to proxy Websocket?"
Hi, i'm trying to proxy behind django Node-Red, a node-based programming tool for IoT.

This application, uses heavily Webosocket in order to communicate with remote MQTT brokers, Websockets, etc...

Actually, i've tried to do some tests and the proxied http content works good, but the WS content it's not working, and django-channels complains that the route was not found...i'm not sure if this pa

[2020-02-17 14:47] seocam commented on #109
Hello @Simonefardella!

Django revproxy was initially conceived to work with HTTP(s) only so I would guess it wouldn't work with WS. In the other hand supporting WS wouldn't be a bad idea at all.

If you have time to take a look in the code to help us figure out how to support WS your help would be very much appreciated!

[2020-04-08 07:41] toinbis commented on #57
Same bug here :( Instead of page being loaded I get 301 redirect to an upstream url. Try with domain https://15min.lt as an upstream.

[2020-06-06 11:11] seocam opened #110 "Remove support to Python < 3 and Django < 2"
Since Python 2 is no longer supported I think this now becomes a good option. Any objections?

[2020-06-06 12:18] #97 closed

[2020-06-06 12:20] seocam commented on #93
This is something we want for 1.0 (long coming milestone).
I'd say it's a duplicate of #33.

[2020-06-06 12:20] #93 closed

[2020-06-06 12:25] seocam commented on #66
@kevthehermit did you manage to get it working. @mccalluc I see you referenced this issue as well. Do you see a problem here? Perhaps we should improve docs or error msgs somehow?

[2020-06-06 12:26] seocam commented on #70
Thank you @albertored. I think that your solution is basically what we expect users to do, subclass and modify if needed ;)

[2020-06-06 12:26] #70 closed

[2020-06-06 12:27] seocam commented on #79
I think it does. I'm going to add to the next milestone. Help is welcome :)

[2020-06-06 12:29] seocam commented on #80
It seems to me that #60 is a pretty similar question. I'll try to document it better in official docs and point it here.

[2020-06-06 12:32] seocam commented on #83
I'm not sure what you are trying to accomplish here. This is meant to be a reverse proxy for HTTP. Are you trying to use it as a sock s proxy server?

[2020-06-06 12:32] seocam commented on #83
I'll close for now and re-open if needed.

[2020-06-06 12:32] #83 closed

[2020-06-06 13:02] mccalluc commented on #66
I don't remember the details, but it looks like my first try had used a `path` kwarg, when `url` was what I needed. I was fairly new to django at the time, so perhaps with more familiarity it would have been less confusing for me? Your call.

[2020-06-06 23:15] kush99993s opened #112 "admin in path in reverse proxy url in not working"
Hello Everyone,

I am have following url in reverse proxy
```re_path(r'demo/(?P<path>.*)$',` ProxyView.as_view(upstream='http://127.0.0.1:5000/'))```

I am running flask application at 5000 port. django application run at 8000

Following url works:
```http://localhost:8000/demo/admin/role/```

However, following url doesn't work
```http://localhost:8000/demo/admin/``` and it redirect to ```http://

[2020-06-07 00:03] #112 closed

[2020-06-13 08:09] erezlevanon opened #113 "Too many redirects"
I'm running a django server on a reaspberry pi.

I have a service ([transmission-daemon](https://github.com/transmission/transmission)) listening on port 9091 and I want it to be accessible through the django server (as a url path) . After configuration when trying to access the url path the i get ERR_TOO_MANY_REDIRECTS error in my browser, and looking at the logs it does seems like it repeatedly

[2020-06-18 02:10] contactzen opened #114 "It seem django-revprox is not getting user with rest_framework_simplejwt"
I tried to load user in custom _created_proxy_response method which inherent  from ProxyView. In which i am trying to add custom logic to if auth is there or not. But it seems to be not working. I am able to see token but not username. Is anyone know how to fix this ?

From,
Zen

[2020-06-22 11:59] seocam commented on #114
@contactzen can you add examples?

[2020-06-22 16:14] HarishB167 opened #115 "Adding example in documentation Quickstart for latest django version."
Here at https://django-revproxy.readthedocs.io/en/latest/quickstart.html

[2020-07-08 02:12] 77598072 opened #116 "https server not work"
I requested https service, he reported an error.
[code]
I read the source code and made the following changes, it work, but I want to know, is there an official way to complete the https request?
[code]

[2020-08-19 16:33] anmolghosh opened #118 "Release 0.10.0 as old version does not allow urllib3 > 1.17"

[2020-08-27 06:06] nimaansary opened #119 "django authentication and permissions"
I want to check user permissions and then give him access!
how can i add middleware to django-revproxy

[2020-10-15 07:39] otuoma commented on #100
This should work for django 3.*
`urlpatterns = [
    path('api/test/<path>/', ProxyView.as_view(upstream='http://localhost:8080/'))
]`

[2020-10-27 12:41] nl-emmanuellodovice commented on #119
I think this can easily be done by overriding `get_request_headers` and raising a PermissionDenied exception if the user does not have permission

[code]

[2020-10-27 12:48] nl-emmanuellodovice opened #121 "Add ability to not stream big response or at least override MIN_STREAMING_LENGTH"
Thanks for this wonderful library first of all 🙇

Right now `application/json` is not one of the content types that should NOT be streamed. Because of this if you are sending a relatively big json (4kb is not that big I think) you will not be able to utilize django's cache middleware because the response is a streaming response. Thank you.

[2020-11-02 12:52] nl-emmanuellodovice commented on #121
I am more than willing to open a PR for this if you are open to the idea @seocam

[2021-02-02 23:03] Archmonger opened #122 "Websocket Proxying Support (Django Channels)"
Would be fantastic if WS proxying was supported, as many Django users have been moving to ASGI webservers.

[2021-03-20 11:32] petrprikryl commented on #93
Just trying [PgHero](https://github.com/ankane/pghero) behing proxy and got error: `"" is not a valid MIME type` in `mime_type.rb`.

I have tried `request_payload = None` based on #99 but it didn't help. So I wouldn't consider this issue as duplicate od #33.

PgHero is working just fine with patch from #94.

[2021-04-02 21:24] JoePercipientAI opened #124 "How to set upstream to same server"
I want to set up a reverse proxy that will redirect a Django app URL to another part of the same website that is outside of Django.

(for example):

www.mysite.com/MyDjangoApp/foo/ -> www.mysite.com/bar/

And of course, I need this to work for whatever domain/server the app is installed on.

The example in the docs only shows redirecting to a static alternate domain (upstream='http://example.com/'

[2021-04-04 08:38] otuoma commented on #124
I have not tested this, but if you create a view that extends `ProxyView `  like this, it should allow you to set the upstream URL to whatever you want.

`
from revproxy.views import ProxyView
from django.http import HttpResponse

class MyProxyView(ProxyView):
    upstream = 'http://www.example.com'

        def get(self, request):
            return HttpResponse(revproxy.response)
`

[2021-04-04 16:50] JoePercipientAI commented on #124
@otuoma Thanks.  I have tried setting "upstream" from code, and it works if I set it to just a host, like  http://www.mysite.com/, but if I add anything else at the end of the URL, like in my example www.mysite.com/bar/, then I get an exception:

AttributeError: 'MyProxyView' object has no attribute '_parsed_url'

For my use case, I definitely need to have the additional part to the path.

Is djan

[2021-04-09 11:21] guettli opened #125 "Broken image on pypi page"
Broken image on pypi page:

![image](https://user-images.githubusercontent.com/414336/114172858-8abf2b00-9936-11eb-988c-96e251abc81c.png)

[2021-04-12 22:23] sbds opened #126 "AttributeError: 'HttpResponse' object has no attribute '_headers'"
This statement is producing an error:
  logger.debug('Response headers: %s', getattr(response, '_headers'))

In these 2 files:
  "...lib64/python3.7/site-packages/revproxy/utils.py", line 127, in set_response_headers
  "...lib64/python3.7/site-packages/revproxy/response.py", line 48, in get_django_response

[2021-04-14 23:01] litghost commented on #126
This was changed a while ago: https://github.com/django/django/commit/bcc2befd0e9c1885e45b46d0b0bcdc11def8b249

[2021-04-14 23:40] sbds commented on #126
Oh. It isn't changed in the version installed though PIP.

[2021-04-14 23:45] litghost commented on #126
Sorry, I'm agreeing with this issue, and the django change is pretty old.

[2021-04-15 10:50] nikolis commented on #100
Why was this Issue closed ? Is this project abondaned ? Your suggestions are not helpfull for django version 3.* and there is not documentation on how to use it !

[2021-04-16 07:36] mhoonjeon commented on #126
Experiencing the same issue here

[2021-04-17 22:09] matteing commented on #126
Same here.

[2021-06-09 07:56] ak55mm commented on #126
Any idea when this will be in master? Everyone who has moved to Django 3.2 will be affected by this.

[2021-07-01 13:10] stolpeo commented on #126
Is there an estimate when this will be merged?

[2021-09-02 17:28] metalshanked commented on #126
any update or estimate on when this will be available on PyPi? Thanks!

[2021-09-02 22:53] brianmay commented on #126
I think this project is basically dead, sorry. I was working on it a while back, but no longer working on the project or employer that required it.

Best bet might be to fork it, change the name, and upload the new name to PyPI.

[2021-09-22 17:00] thatsed commented on #126
@brianmay what about transferring the project to Jazzband? That would make it easier for everyone involved.

If you're able, please reach out to @seocam about this. There's quite a community around this project, it would fit nicely in the Jazzband collective in my opinion.

If that's off the table for any reason, we will mantain our fork over at https://github.com/Innovativity/django-revproxy for

[2021-09-22 22:36] brianmay commented on #126
Who is Jazzband?

There have been times abandoned projects get transferred to new maintainers, who then abuse the privilege, and introduce malware into new releases. Which means the project is in even worse state then just being abandoned. Wouldn't want to do that here.

Technically this isn't my project, @seocam was maintaining it, until he ran out of time https://github.com/TracyWebTech/django-r

[2021-09-23 14:26] thatsed commented on #126
That's unfortunately very true, and part of the reasoning behind Jazzband

I think, but I may be wrong, only the owner can transfer the repo. That's why I proposed to raise the question to @seocam, sorry it came out that way, I didn't mean to doubt your position!

That's something that should be discussed with them later on I think.

Thank you @brianmay for your help with this!

[2021-09-28 22:53] jazzband-bot opened #129 "Implement Jazzband guidelines for django-revproxy"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-revproxy](https://github.com/jazzband/django-revproxy)

It was initiated by @brianmay who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to u

[2021-09-28 22:55] brianmay commented on #129
@thatsed @seocam This project was now been transferred...

[2021-09-28 23:04] brianmay commented on #129
I think I setup all the accounts as required. PyPI still pending on invite being accepted. If I got something wrong, please let me know.

[2021-09-28 23:04] brianmay commented on #129
CI is with travis, probably this needs to be converted to use github actions I think.

[2021-09-28 23:10] brianmay commented on #129
There are a number of services listed here:

https://github.com/jazzband/django-revproxy/settings/hooks

I suspect I don't have access to many. Might just want to delete these.

readthedocs was not listed (huh?) - hoping I correctly added it.

[2021-09-29 07:04] jezdez commented on #129
@brianmay Welcome and thanks for working on those items. I've accepted the PyPI invite and deleted the service hooks from the services we don't use for Jazzband projects.

[2021-09-30 15:07] thatsed commented on #129
Unfortunately I lack the expertise to help setup GitHub Actions for the project, should we ask on the members' team if there's someone available to help with that?

[2021-09-30 21:55] brianmay commented on #129
@thatsed Sounds good to me. This probably should be done (if possible) by somebody with experience with other JazzBand projects.

[2021-10-24 15:35] ziXet opened #131 "Is there any equivalent of this package for Flask?"
I need a very thin reverse proxy. Django is too heavy for my use case.

Just wondering if anyone knows any package like this for Flask?

Thanks

[2021-12-21 03:24] Archmonger commented on #109
Closing in favor of #122

[2021-12-21 03:24] #109 closed

[2021-12-21 03:31] Archmonger commented on #131
There are none that I'm aware of.

But if Django is too heavy, you can consider using [`django-micro`](https://github.com/maxpoletaev/django-micro) which is flask-like.

[2021-12-21 03:31] #131 closed

[2022-01-04 00:17] #79 closed

[2022-01-17 22:43] mchingotto opened #134 "Question regarding path - Maybe stupid, but I would need some help"
Hello,

   Thank you for all the effort to make this works.
   I have the revproxy inside a view at www.mysite.com/proxy/.
   The problem I see is that in the responses the /proxy/ part is not added.

   Test bed (example):

      In this case, the upstream could be: www.google.com
      So, for example, if a request goes to www.mysite.com/proxy/, it is translated to www.google.com, but in the res

[2022-01-18 00:10] brianmay commented on #134
What you want would require revproxy parse the response from the server and translate links such as `/images/this_image.jpg` to `/proxy/images/this_image.jpg`.

I think this might be the rewrite feature. Never used it myself, so not sure what it does exactly. See https://django-revproxy.readthedocs.io/en/latest/proxyview.html#revproxy.views.ProxyView.rewrite

[2022-01-18 01:57] mchingotto commented on #134
Hello brianmay,

Thank you for your fast answer, I appreciate it.
I tried already, but I found that rewrite only works for me in the upstream direction (maybe my fault), so, I can change the request, but I can not change the response. I feel confused because I thought everyone needs to translate the response too. I thought It was very common, but It seems I am thinking in the wrong way.

[2022-01-18 06:01] brianmay commented on #134
Depends on your use case. For me I only ever used it once (in an application that was cancelled during development) to proxy 3rd party APIs in bypass JavaScript CORS restrictions, so I never needed any rewriting abilities in any direction.

Maybe this was never implemented. In which case the documentation should perhaps be clarified as to what "Basic URL rewrite" means.

[2022-02-08 20:36] #126 closed

[2022-02-10 03:30] FernandoKGA commented on #129
Hey @brianmay, could you tick both lines about the badge and `CONTRIBUTING` file (if the #139 PR is ok, of course)?

[2022-02-10 09:08] brianmay commented on #129
Done

[2022-02-11 00:42] FernandoKGA commented on #129
I will take a look into the first check that's related to the `README`, and check why the docs setup is failing to me (maybe I just messed up). @brianmay you're going to setup the [Codecov](https://codecov.io/) pipeline? Or other maintainer will? (Your doc is working fine?)

[2022-02-13 21:34] brianmay commented on #129
Not really sure how jazzband configures codecov, and don't have a lot of time to investigate. Might be better if somebody more experienced with Jazzband supplies the github CI.

[2022-03-09 12:28] IvoLeal72 opened #143 "Grafana 403"
I used this to make a reverse proxy for grafana so I could use the django autenticatrion on it through auth proxy.
But the grafana just shows an "Origin not allowed" error on every panel

[2022-03-12 22:34] my-umd opened #144 "When will the fix for django 3.2 be released?"
Not sure if there is a better channel to ask this question.  I see 0.11.0, which has fix for django 3.2, has not been released.  Any plan when to release it?  Thanks.

[2022-04-01 05:30] brianmay commented on #144
I think we need to fix the items in https://github.com/jazzband/django-revproxy/issues/129 first. At least as many as possible.

Unfortunately, I simply do not have time to look at this.

[2022-05-17 08:33] smit-mehta25 commented on #144
@seocam @brianmay Any updates on this one?

[2022-06-30 14:53] JeroenJADS opened #147 "Fix compatibility for python 3.10"
This package does not work with python 3.10 and Django 3.2+ since `getattr()` now expects a default function in order for it not to return an exception.

Compatibility can easily be fixed by providing the following change:
#147

[2022-06-30 22:45] brianmay commented on #147
Assuming you meant to reference #148 here.

[2022-06-30 23:10] #147 closed

[2022-07-05 08:01] JeroenJADS commented on #144
This has been fixed in #148!

[2022-09-02 18:51] chiatt commented on #144
Hi @JeroenJADS, this fix works great, but to @my-umd's question, it's not yet released on PyPi. This is a problem because the latest django-revproxy (with the fix) can't be used as a dependency in a requirements.txt file for a project published on PyPi. Locally the github url to the master branch can be used, but PyPi will reject that for security reasons.

[2022-09-26 16:30] #115 closed

[2022-10-06 15:21] matjazsu commented on #144
Hi @JeroenJADS,

any news regarding ^^?

[2022-10-21 23:41] Lalmi-Issam opened #153 "Random subdomain as upstream or multi upstream domain support"
I have issue related to static upstream in `TestProxyView` class i tried the following :

   ` upstream = request.GET.get('a')`
 `   return ProxyView.as_view()(upstream)`

I got
**ERROR : dispatch() missing 1 required positional argument: 'path'**

Tried also to catch get parameter from request object inside `TestProxyView` class

 ` upstream = request.GET.get('a')`

I got
***ERROR : Name 'request

[2022-10-27 13:48] medihack commented on #144
I can confirm that the current master branch works correctly with Django 4.1. So a new release would be nice.

[2022-11-08 07:38] andruten commented on #129
README links have been updated based on django-formtools ones but there is now a broken link related to tests:
[code]

Upload coverage step says:
[code]
I've been trying to locate that yaml file in several jazzband repos but I couldn't find it.

Can you please check this? @brianmay @jezdez

[2022-11-12 22:27] brianmay commented on #129
Does this help? https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge

I am not familiar with any of this, but guessing you might need to create a new file from scratch using above instructions.

[2022-11-12 23:16] andruten commented on #129
Thank you @brianmay. I've created a PR for solving the link :).  https://github.com/jazzband/django-revproxy/pull/155

[2022-11-13 21:47] andruten commented on #129
I think points 1, 4 and 5 can be marked as done. Am I right?

[2022-11-13 22:59] brianmay commented on #129
Probably. Sounds good to me. Assume you can do it, otherwise let me know and I will do it.

[2022-11-13 23:06] andruten commented on #129
I see them as read-only, sorry. Can you please update them?

What do you think about remaining tasks?

[2022-11-13 23:16] brianmay commented on #129
Done.

Not really sure what this is asking.

Needs somebody with time. Not me :-)

Not sure I understand. Maybe this was done?

[2022-11-13 23:55] andruten commented on #129
I think first task is asking for updating related repositories which are linking the old repo url. Last task could be considered as done.

Anyway, I can publish some PRs in order to keep updated this library.
- Drop python 2.7, 3.5 and 3.6
- Add support for python 3.11
- Add support for Django 4.0 and 4.1

[2022-11-25 08:20] andruten commented on #144
I think a new release could be released as some tasks from #129 have been resolved.